.body {
    background-color: #E4E9F2;
    font-family: Poppins;
    font-style: normal;
}

.main-title {
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    margin-bottom: 25px;
    margin-left: 125px;
    /* left: 0; */
    /* width: 80%; */
}

/* .container {
    border: 2px solid #000;
    padding: 0;
    margin: 0; 
} */

.card {
    width: 16rem;
}

/* .card-img-top {
    width: 25%;
    height: 25%;
} */